*{
   margin: 0;
   padding: 0;
}
body{
   display:flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color:gray;
}
h2{
   font-size: 2rem;
}
.container{
   background-color: #fff;
   padding: 3rem;
   border-radius: 1rem;
   height:70vh;
   width:65vh;
}
.form{
   margin:2rem 0 2rem 0;
}
form,button,select,input{
   width:100%;
   border:none;
   outline:none;
   border-radius: 0.75rem;
}
form input{
   border: 1px solid lightgrey;
   font-size:1rem;
   height:3rem;
   padding: 0.5rem;
}
.dropdown{
   display:flex;
   justify-content: space-between;
   align-items: center;

}
.dropdown i{
   font-size: 1.5rem;
   margin-top: 1rem;
   color:black;
   cursor: pointer;
}
.select-container img{
max-width: 2rem;
}
.select-container{
   display:flex;
   justify-content: center;
   align-items: center;
   width:6rem;
   border-radius: 0.5rem;
  
     border: 1px solid lightgrey;
}
.select-container select{
   font-size: 1rem;
   width:auto;
}
.msg{
   margin: 2rem 0 2rem 0;
}
form button{
   height: 3rem;
   background-color: #af4d98;
   color:#fff;
   font-size: 1.1rem;
}